.cat-tag {
  &__input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  &__content {
    cursor: pointer;
    color: $gray-600;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
      color: $gray-800;
    }
  }

  &--disabled &__content {
    cursor: default;
    color: $gray-600;
    pointer-events: none;
  }

  &:has(&__input:focus-within) &__content {
    color: $gray-800;
  }

  &:has(&__input:checked) &__content {
    color: $primary;
    border-color: $primary;
  }

  &__text {
    font-weight: 700;
    line-height: 1.6;
  }

  &__counter {
    font-size: 0.625rem;
    font-weight: 900;
  }
}
