.cat-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  position: relative;

  @media (max-width: 700px) {
    justify-content: center;
  }

  &__group {
    border: none;
    padding: 0;
    margin: 0;
    display: contents;
  }

  &__legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.header__cat-tags {
  margin-right: auto;
}
