@use 'reset.css';

:root {
  font-family: $font-stack;
}

body {
  margin: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 16px 64px;
  max-width: 1262px;
  text-align: center;
}

.subheading {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 0;
  font-size: 1rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.heading {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 85px;
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.3;
}

.header {
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
