@use 'reset.css';

:root {
  font-family: $font-stack;
}

body {
  margin: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 16px 64px;
  max-width: 1262px;
  text-align: center;
}

.subheading {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 0;
  font-size: 1rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.heading {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 85px;
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.3;
}

.header {
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 117px;
  height: 177px;
  background-image: url('/icons/dots.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  pointer-events: none;
}

body::after {
  content: '';
  position: absolute;
  top: 687px;
  left: 56px;
  width: 83px;
  height: 44px;
  background-image: url('/icons/shapes1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.decoration-middle-right {
  position: absolute;
  top: 1104px;
  right: 72px;
  transform: translateY(-50%);
  width: 85px;
  height: 85px;
  background-image: url('/icons/shapes2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1650px) {
  body::before,
  body::after,
  .decoration-middle-right {
    display: none;
  }
}
