.card {
  text-align: start;
  max-width: 390px;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
    0px 12px 10px -6px hsla(229, 6%, 63%, 0.04),
    0px 30px 24px -10px hsla(229, 6%, 63%, 0.05),
    0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);

  &__image {
    width: 100%;
    height: 240px;
    border-radius: 4px 4px 0px 0px;
  }

  &__content {
    flex: 1;
    border: 1px solid $gray-300;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    padding: 24px;
  }

  &__cat-tag {
    display: inline-block;
    border-radius: 4px;
    background-color: $info;
    padding: 1px 8px;
    font-size: 14px;
    color: $white;
    margin-bottom: 20px;

    &--cat-marketing {
      background-color: $success;
    }

    &--cat-management {
      background-color: $info;
    }

    &--cat-hr {
      background-color: $warning;
    }

    &--cat-design {
      background-color: $hotpink;
    }

    &--cat-dev {
      background-color: $purple;
    }
  }

  &__title {
    font-size: 1.25rem;
    color: $gray-900;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  &__price {
    color: $danger;
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__author {
    position: relative;
    color: $gray-700;
    font-size: 1.125rem;
    padding-left: 8px;
    margin-left: 5px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      width: 1px;
      height: 16px;
      border-radius: 1px;
      background-color: $gray-700;
    }
  }
}
