.search {
  &__input {
    width: 315px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    padding: 11px 35px 12px 16px;
    font-size: 0.875rem;
    color: $gray-800;
    background-image: url('/icons/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: right 14px center;

    &::placeholder {
      color: $gray-600;
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: hsla(2, 100%, 61%, 0.4);
      box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
        0px 12px 10px -6px hsla(2, 100%, 61%, 0.04),
        0px 30px 24px -10px hsla(2, 100%, 61%, 0.05),
        0px 80px 80px -20px hsla(2, 100%, 61%, 0.08);
    }
  }

  @media (max-width: 438px) {
    width: 100%;
    &__input {
      width: 100%;
    }
  }
}
