// main
$font-stack: 'Lato', sans-serif;

// Brand Colors
$gray-300: hsla(218, 18%, 91%, 1);
$gray-400: hsla(208, 9%, 85%, 1);
$gray-600: hsla(225, 6%, 62%, 1);
$gray-700: hsla(225, 3%, 49%, 1);
$gray-800: hsla(227, 10%, 29%, 1);
$gray-900: hsla(227, 19%, 15%, 1);
$white: hsla(0, 0%, 100%, 1);
$primary: hsla(2, 100%, 61%, 1);
$success: hsla(168, 97%, 41%, 1);
$danger: hsla(0, 100%, 63%, 1);
$info: hsla(223, 96%, 67%, 1);
$warning: hsla(32, 94%, 56%, 1);
$hotpink: hsla(341, 91%, 57%, 1);
$purple: hsla(242, 82%, 70%, 1);
