@use 'reset';
@use 'variables';

:root {
  font-family: variables.$font-stack;
}

.container {
  margin: 0 auto;
  padding: 0 16px 64px;
  max-width: 1262px;
}

.subheading {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 0;
  font-size: 1rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.heading {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 85px;
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 1.3;
}

.header {
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-right: auto;
  position: relative;

  @media (max-width: 700px) {
    justify-content: center;
  }
}

.course-category-group {
  border: none;
  padding: 0;
  margin: 0;
  display: contents;
  &__legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.tag {
  &__input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  &__content {
    cursor: pointer;
    color: variables.$gray-600;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
      color: variables.$gray-800;
    }
  }

  &--disabled &__content {
    cursor: default;
    color: variables.$gray-600;
    pointer-events: none;
  }

  &:has(&__input:focus-within) &__content {
    color: variables.$gray-800;
  }

  &:has(&__input:checked) &__content {
    color: variables.$primary;
    border-color: variables.$primary;
  }

  &__text {
    font-weight: 700;
    line-height: 1.6;
  }

  &__counter {
    font-size: 0.625rem;
    font-weight: 900;
  }
}

.search {
  &__input {
    width: 315px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid variables.$gray-400;
    padding: 11px 35px 12px 16px;
    font-size: 0.875rem;
    color: variables.$gray-800;
    background-image: url('/icons/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: right 14px center;

    &::placeholder {
      color: variables.$gray-600;
    }

    &:hover,
    &:focus {
      outline: none;
      border-color: hsla(2, 100%, 61%, 0.4);
      box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
        0px 12px 10px -6px hsla(2, 100%, 61%, 0.04),
        0px 30px 24px -10px hsla(2, 100%, 61%, 0.05),
        0px 80px 80px -20px hsla(2, 100%, 61%, 0.08);
    }
  }

  @media (max-width: 438px) {
    width: 100%;
    &__input {
      width: 100%;
    }
  }
}

.main {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  @media (max-width: 1276px) {
    justify-content: center;
  }
}

.card {
  max-width: 390px;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
    0px 12px 10px -6px hsla(229, 6%, 63%, 0.04),
    0px 30px 24px -10px hsla(229, 6%, 63%, 0.05),
    0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);

  &__image {
    width: 100%;
    height: 240px;
    border-radius: 4px 4px 0px 0px;
  }

  &__content {
    flex: 1;
    border: 1px solid variables.$gray-300;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    padding: 24px;
  }

  &__tag {
    display: inline-block;
    border-radius: 4px;
    background-color: variables.$info;
    padding: 1px 8px;
    font-size: 14px;
    color: variables.$white;
    margin-bottom: 20px;

    &--category-marketing {
      background-color: variables.$success;
    }

    &--category-management {
      background-color: variables.$info;
    }

    &--category-hr {
      background-color: variables.$warning;
    }

    &--category-design {
      background-color: variables.$hotpink;
    }

    &--category-dev {
      background-color: variables.$purple;
    }
  }

  &__title {
    font-size: 1.25rem;
    color: variables.$gray-900;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  &__price {
    color: variables.$danger;
    font-size: 1.125rem;
    font-weight: 700;
  }

  &__author {
    position: relative;
    color: variables.$gray-700;
    font-size: 1.125rem;
    padding-left: 8px;
    margin-left: 5px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      width: 1px;
      height: 16px;
      border-radius: 1px;
      background-color: variables.$gray-700;
    }
  }
}

.load-more {
  text-align: center;
  margin-top: 80px;

  &__button {
    border: none;
    background: none;
    font-weight: 700;
    color: variables.$gray-800;
    line-height: 1.6;
    position: relative;
    padding-left: 40px;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      width: 24px;
      height: 24px;
      background-image: url('/icons/convert.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--hidden {
      display: none;
    }
  }
}

.no-results-message {
  line-height: 1.6;
  text-align: center;
  padding: 40px 0;
  color: variables.$gray-600;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 117px;
  height: 177px;
  background-image: url('/icons/dots.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  pointer-events: none;
}

body::after {
  content: '';
  position: absolute;
  top: 687px;
  left: 56px;
  width: 83px;
  height: 44px;
  background-image: url('/icons/shapes1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.decoration-middle-right {
  position: absolute;
  top: 1104px;
  right: 72px;
  transform: translateY(-50%);
  width: 85px;
  height: 85px;
  background-image: url('/icons/shapes2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1650px) {
  body::before,
  body::after,
  .decoration-middle-right {
    display: none;
  }
}
